<h1><%= @recipe.name %></h1>
<div>
  <form id="recipe-form" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" value="<%= @recipe.name %>" name="name" required></br>
    <label for="serving_number">Serves:</label>
    <input value="<%= @recipe.serving_number %>" type="text" placeholder="10" id="serves" name="serving_number" required></br>
    <label for="total_time">Total time:</label>
    <input value="<%= @recipe.total_time %>" type="text" id="total_time" name="total_time"></br>
    <div id="ingredients">
      <h2>Ingredients</h2>
      <% @recipe.ingredients.each_with_index do |ingredient, i| %>
        <div id="ingredient-group-<%=i+1%>" class="ingredient-group">
          <input value="<%= ingredient.name%>" type="text" name="ingredients[]name">
        </div>
      <% end %>
    </div>
    <button id="add-ingredient-button">Add another ingredient</button>
    <div id="instructions-group">
      <h2>Instructions</h2>
      <textarea form="recipe-form" name="instructions" id ="instructions-textarea"><%= @recipe.instructions %></textarea>
    </div>
    <button>Update Recipe</button>
  </form>
</div>

<style>
.ingredient-group { display: flex; margin-bottom: 10px; }
.ingredient-group input:nth-child(1) { width: 400px; }
.ingredient-group input:nth-child(2) { margin-left: 10px }
.ingredient-group button { margin-left: 10px }
.ingredient-group select { margin-left: 10px; }
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 400px;
}
form button { margin-top: 10px; }
</style>

<script src="https://cdn.quilljs.com/1.3.6/quill.js">
</script>
<script>
  (function() {

    let numIngredients = <%= @recipe.ingredients.count %>;

    const run = () => {
      setHandlers();
    }

    const setHandlers = () => {
      document.getElementById("add-ingredient-button")
        .addEventListener("click", event => {
          event.preventDefault();
          addIngredientInput();
        });

      for(let i=numIngredients; i>1; i--) {
        let container = document.getElementById(`ingredient-group-${i}`);
        let removeButton = document.createElement("button");
        removeButton.innerHTML = "Remove";
        removeButton.addEventListener("click", event => {
          event.preventDefault();
          removeIngredient(`ingredient-group-${i}`);
        });
        container.appendChild(removeButton);
      }
    }

    const removeIngredient = id => {
      let element = document.getElementById(id);
      element.parentNode.removeChild(element);
      numIngredients -= 1;
    }

    const addIngredientInput = () => {
      numIngredients += 1;
      const container = document.createElement("div");
      container.setAttribute("id", `ingredient-group-${numIngredients}`);
      const parentIngredientsContaienr = document.getElementById("ingredients");
      parentIngredientsContaienr.appendChild(container);
      container.setAttribute("class", "ingredient-group");

      const nameInput = document.createElement("input");
      nameInput.setAttribute("name", "ingredients[]name");
      nameInput.setAttribute("placeholder", "5 carrots");
      container.appendChild(nameInput);

      const removeButton = document.createElement("button");
      removeButton.innerHTML = "Remove";
      removeButton.addEventListener("click", event => {
        event.preventDefault();
        removeIngredient(`ingredient-group-${numIngredients}`);
      });
      container.appendChild(removeButton);
    }

    run();

  })();

</script>
