<% if @user && (@user.id == @recipe.user_id) %>
  <ul>
    <li><a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a></li>
    <li><a href="/recipes/<%= @recipe.id %>/delete" onclick="return confirm('Are you sure?')">Delete Recipe</a></li>
  </ul>
<% end %>
<h1><%= @recipe.name %></h1>
<ul>
  <li>Serves: <%= @recipe.serving_number %></li>
  <li>Total time: <%= @recipe.total_time %></li>
</ul>
<h2>Ingredients</h2>
<ul>
<% @recipe.ingredients.each do |i| %>
  <li><%= i.name %></li>
<% end %>
</ul>

<h2 id="instructions-header">Instructions</h2>
<div style="white-space: pre-line;">
  <%= @recipe.instructions %>
</div>
