<h1><%= @recipe.name %></h1>
<h2>Ingredients</h2>
<ul>
<% @recipe.ingredients.each do |i| %>
  <li><%= i.name %> (<%= i.quantity %> <%= i.unit %>)</li>
<% end %>
</ul>

<h2 style="margin-bottom: 0;">Instructions</h2>
<div style="white-space: pre-line;">
  <%= @recipe.instructions %>
</div>
